@media only screen and (min-width: 768px)
{
    #loa img
    {
       width: 350px;
       height: 350px;
       margin: 175px 0px 0px 550px;
    }
body{
    /* background-color: #631313; */
    width: auto;
}
.abc
{
    background-image: url(https://drive.google.com/uc?id=1Wgb8Uk3ukbBw_YgE9D_KM6rz3Ys9HGfR);
    background-repeat: no-repeat;
    background-size: 100%;
}
.abc .abc1
{
    background-color: #000000;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    margin: 20px 0px 0px 550px;
    float: left;

}
.abc .abc1 a
{
    text-decoration: none;
    font-size: 30;
    color: white;

}
.abc .abc1 .abc11
{
    float:left;
    margin: 8px 0px 0px 30px;
}
.abc .abc2
{
    /* float: left; */
    width: 100px;
    margin-left: 200;
}
.abc .abc3
{
    text-decoration: none;
    position: relative;
    font-size: 30px;
    top: -35px;
    left: 20px;
    color: black;
}
a:hover
{
    color: black;
    border-bottom: 3px solid white;
}
.bcd .bcd1
{
    background-color: #000000;
    height: 50px;
    width: 580px;
    margin: 20px 0px 0px 20px;
    
}
.bcd .bcd1 .bcd11
{
    float: left;
    font-size: 25px;
    margin: 8px 0px 0px 20px;
    cursor: pointer;
}
.bcd .bcd1 .bcd11 a
{
    text-decoration: none;
    color: #ffffff;
}
.bcd .bcd1 .bcd11 a:hover
{
    border-bottom: 3px solid white;
    color: #ffffff;
}
.bcd2
{
    background-color: black;
    width: 550px;
    height: 50px;
    position: relative;
    top: -50px;
    left: 950px;
}
input[type="search"]
{
    width: 500px;
    height: 28px;
    margin: 10px 0px 0px 20px;
    padding-left: 29px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
}
.se1
{
    background-color: #dfd2d2;
    width: 28px;
    height:27px;
    position: relative;
    top: -43px;
    left: 20px;
}
.se1 #se11
{
    color:#000000;
    font-weight: bolder;
    position: relative;
    top: 2px;
    left: 3px;
}
.res
{
    background-color: white;
    width: 80%;
    margin-top: -30px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    padding: 0px 0px 10px 0px;
}
.res .res11 p
{
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 100px;
}
.res .res11
{
    margin: 10px 10px 0px 10px;
    background-color: yellow;
    height: 250px;
}
.res .resp1
{
    background-color: rgb(76, 201, 107);
    height: 280px;
    margin: 0px 10px 0px 10px;
    display: grid;
    grid-template-columns: 30% 15% 55% ;
    grid-template-rows: 33% 33% 34%;
}
.res .resp1 .resp11
{
    grid-row: 1/4;
    grid-column: 1/2;
}
.res .resp1 .resp11 img
{
    margin: 13px 0px 0px 50px;
    width: 225px;
    height: 225px;
}
.res .resp1 .resp12
{
    grid-row: 1/2;
    grid-column: 2/4;
}
.res .resp1 .resp12 p
{
    margin: 0px;
    font-size: 25px;
}
.res .resp1 .resp13
{
    grid-row: 2/3;
    grid-column: 2/3;
}
.res .resp1 .resp13 p
{
    margin: 25px 0px 0px 20px;
    font-size: 25px;
}
.res .resp1 .resp14
{
    grid-row: 3/4;
    grid-column: 2/3;
}
.res .resp1 .resp14 
{
    margin: 20px;
    background-color: black;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin: -5px 0px 0px 15px;
    cursor: pointer;
}
.res .resp1 .resp15
{
    margin-bottom: 2px;
    grid-column: 3/4;
    grid-row: 2/4;
    height: 80%;
    width: 99%;
    margin: 20px 0px 0px 0px;
    overflow: auto;
}

.navto
{
    background-color: white;
    width: 300px;
    height: 60px;
    margin: 20px 0px 0px 600px;
    padding-top: 10px;
}
.navto .navto1
{
    background-color: black;
    height: 50px;
    width: 135px; 
    float: left; 
    margin: 0px 0px 10px 10px;
}
.navto .navto1 .navto11
{
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.navto .navto2
{
    background-color: black;
    height: 50px;
    width: 135px;  
    margin: 0px 0px 10px 155px;
} 
.navto .navto2 .navto21
{
    position: relative;
    top: 8px;
    left: 18px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.foot .foot1
{
    background-color: black;
    height: 50px;
    margin: 10px 0px 0px 10px;
    width: 98%;
    /* padding: 25px 0px 0px 100px; */
}
.foot .foot1 a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 14px;
    left: 650px;
}
.foot .foot1 a:hover
{
    /* border: 2px solid rgb(255, 255, 255); */
    border-bottom: 3px solid white;
}
.foot .foot2
{
    background-color: black;
    color: white;
    width: 98%;
    margin: -10px 0px 0px 10px;
    height: 230px;

}
.foot .foot2 .foot21
{
    float: left;
    margin: 20px 0px 0px 350px;
}
.foot .foot2 .foot21 .foot212
{
    position: relative;
    top: -36px;
    left: 40px;
}
.foot .foot2 .foot22
{
    float: left;
    margin: 20px 0px 0px 100px;
}
.foot .foot2 .foot22 .foot222
{
    position: relative;
    top: -38px;
    left: 30px;
}
.foot .foot2 .foot23
{
    padding: 18px 0px 0px 300px;
    width: 200px;
    height: 100px;
}
.foot .foot2 .foot24 .foot242
{
    margin: 10px 0px 0px 600px;
}
.foot .foot2 .foot22 .foot232
{
    position: relative;
    top: -35px;
    left: 43px;
}
.foot .foot2 .foot24
{
    width: 200px;
    height: 200px;   
}
.foot .foot2 .foot24 .foot242
{
    width: 200px;
}
.foot .foot2 .foot24 .foot241
{
    width: 100px;
    position: relative;
    left: 640px;
    top: 10px;
}
.foot .foot3
{
    background-color: black;
    color: white;
    margin: 10px 0px 0px 10px;
    width: 98%;
    height: 50px;

}
.foot .foot3 .foot31
{
    float: left;
    margin: 10px 0px 0px 100px;
}    
.foot .foot3 .foot32
{
    float: left;
    margin: 10px 0px 0px 100px;
}
.foot .foot3 .foot33
{
    float: left;
    margin: 10px 0px 0px 100px;
}
.foot .foot3 .foot34
{
    float: left;
    margin: -2px 0px 0px 100px;
}
.foot .foot3 .foot35
{
    margin: 6px 0px 0px 80px;
}
.foot .foot3 .foot31 .foot312
{
    position: relative;
    top: -37px;
    left: 30px;
}
.foot .foot3 .foot32 .foot322
{
    position: relative;
    top: -37px;
    left: 30px;
}
.foot .foot3 .foot33 .foot332
{
    position: relative;
    top: -37px;
    left: 30px;
}
#bcd1112
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 200px;
    height: 380px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 20px;
}
#bcd1112 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1112 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1112 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1112 ul li
{
    margin: 10px 0px 0px 5px;
    list-style-type: none;
}
#bcd1113
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 90px;
}
#bcd1113 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1113 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1113 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1113 ul li
{
    margin: 10px 0px 0px 2px;
    list-style-type: none;
}
#bcd1114
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 320px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 200px;
}
#bcd1114 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1114 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1114 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1114 ul li
{
    margin: 10px 0px 0px 2px;
    list-style-type: none;
}
#bcd1115
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 340px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 300px;
}
#bcd1115 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1115 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1115 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1115 ul li
{
    margin: 10px 0px 0px 2px;
    list-style-type: none;
}

#bcd1116
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 370px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 420px;
}
#bcd1116 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1116 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1116 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1116 ul li
{
    margin: 10px 0px 0px 2px;
    list-style-type: none;
}
}

@media only screen and (max-width: 768px)
{
    #loa img
    {
       width: 350px;
       height: 350px;
       margin: 175px 0px 0px 75px;
    }
    body{
        /* background-color: #631313; */
        width: auto;
    }
    .abc
    {
        background-image: url(navbg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 80px;
    }
    .abc .abc1
    {
        background-color: #000000;
        height: 40px;
        width: 250px;
        border-radius: 10px;
        margin: 20px 0px 0px 40px;
        float: left;
    
    }
    .abc .abc1 a
    {
        text-decoration: none;
        font-size: 20;
        color: white;
    
    }
    .abc .abc1 .abc11
    {
        float:left;
        margin: 8px 0px 0px 30px;
    }
    .abc .abc2
    {
        /* float: left; */
        width: 40px;
        margin-left: 50px;
        margin-top: 20px;
        
    }
    .abc .abc3
    {
        text-decoration: none;
        position: relative;
        top: -13px;
        color: black;
    }
    a:hover
    {
        color: black;
        border-bottom: 3px solid white;
    }
    .bcd .bcd1
    {
        background-color: #000000;
        height: 50px;
        width: 450px;
        margin: 20px 0px 0px 10px;
        
    }
    .bcd .bcd1 .bcd11
    {
        float: left;
        font-size: 18px;
        margin: 13px 0px 0px 20px;
        cursor: pointer;
    }
    .bcd .bcd1 .bcd11 a
    {
        text-decoration: none;
        color: #ffffff;
    }
    .bcd .bcd1 .bcd11 a:hover
    {
        border-bottom: 3px solid white;
        color: #ffffff;
    }
    .bcd2
    {
        background-color: black;
        width: 450px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 40px;
        /* position: relative;
        top: -50px;
        left: 950px;*/
    }    
    input[type="search"]
    {
        width: 400px;
        height: 28px;
        margin: 10px 0px 0px 20px;
        padding-left: 29px;
        font-family: 'Alfa Slab One', cursive;
        font-size: 18px;
    }
    .se1
    {
        background-color: #dfd2d2;
        width: 28px;
        height:27px;
        position: relative;
        top: -43px;
        left: 20px;
    }
    .se1 #se11
    {
        color:#000000;
        font-weight: bolder;
        position: relative;
        top: 2px;
        left: 3px;
    }
    .foot .foot1
    {
        background-color: black;
        height: 30px;
        margin: 10px 0px 0px 10px;
        width: 76%;
        padding: 25px 0px 0px 100px; 
    }
    .foot .foot1 a
    {
        color: white;
        text-decoration: none;
        font-size: 18px;
        position: relative;
        top: -7px;
        left: 80px;
    }
    .foot .foot1 a:hover
    {
         border: 2px solid rgb(255, 255, 255); 
        border-bottom: 3px solid white;
    }
    .foot .foot2
    {
        background-color: black;
        color: white;
        width: 98%;
        margin: -10px 0px 0px 10px;
        height: 230px;
    
    }
    .foot .foot2 .foot21
    {
        float: left;
        margin: 20px 0px 0px 10px;
    }
    .foot .foot2 .foot21 .foot212
    {
        font-size: 13px;
        position: relative;
        top: -33px;
        left: 35px;
    }
    .foot .foot2 .foot22
    {
        float: left;
        margin: 20px 0px 0px 45px;
    }
    .foot .foot2 .foot22 .foot222
    {
        font-size: 13px;
        position: relative;
        top: -33px;
        left: 30px;
    }
    .foot .foot2 .foot23
    {
        padding: 18px 0px 0px 100px;
        width: 200px;
        height: 100px;
    }
    .foot .foot2 .foot24 .foot242
    {
        margin: 10px 0px 0px 150px;
    }
    .foot .foot2 .foot22 .foot232
    {
        font-size: 13px;
        position: relative;
        top: -33px;
        left: 38px;
    }
    .foot .foot2 .foot24
    {
        width: 200px;
        height: 200px;   
    }
    .foot .foot2 .foot24 .foot242
    {
        width: 200px;
    }
    .foot .foot2 .foot24 .foot241
    {
        width: 100px;
        position: relative;
        left: 200px;
        top: 10px;
    }
    .foot .foot3
    {
        background-color: black;
        color: white;
        margin: 10px 0px 0px 0px;
        width: 99%;
        height: 130px;
    
    }
    .foot .foot3 .foot31
    {
        float: left;
        margin: 10px 0px 0px 15px;
    }    
    .foot .foot3 .foot32
    {
        float: left;
        margin: 10px 0px 0px 60px;
    }
    .foot .foot3 .foot33
    {
        float: left;
        margin: 10px 0px 0px 80px;
    }
    .foot .foot3 .foot34
    {
        font-size: 13px;
        /* float: left; */
        /* margin: -2px 0px 0px 100px; */
        position: relative;
        top: 40px;
        left: -180px;
    }
    .foot .foot3 .foot35
    {
        width: 98%;
        margin: 2px 0px 0px 0px;
        position: relative;
        top: 5px;
        left: 5px;
    }
    .foot .foot3 .foot31 .foot312
    {
        font-size: 13px;
        position: relative;
        top: -32px;
        left: 30px;
    }
    .foot .foot3 .foot32 .foot322
    {
        font-size: 13px;
        position: relative;
        top: -32px;
        left: 30px;
    }
    .foot .foot3 .foot33 .foot332
    {
        font-size: 13px;
        position: relative;
        top: -32px;
        left: 30px;
    } 
    #bcd1112
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 200px;
        height: 380px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 20px;
    }
    #bcd1112 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1112 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    #bcd1112 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1112 ul li
    {
        margin: 10px 0px 0px 5px;
        list-style-type: none;
    }
    #bcd1113
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 220px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 90px;
    }
    #bcd1113 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1113 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    #bcd1113 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1113 ul li
    {
        margin: 10px 0px 0px 2px;
        list-style-type: none;
    }
    #bcd1114
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 220px;
        height: 320px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 200px;
    }
    #bcd1114 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1114 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    #bcd1114 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1114 ul li
    {
        margin: 10px 0px 0px 2px;
        list-style-type: none;
    }
    #bcd1115
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 220px;
        height: 340px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 230px;
    }
    #bcd1115 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1115 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    #bcd1115 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1115 ul li
    {
        margin: 10px 0px 0px 2px;
        list-style-type: none;
    }
    
    #bcd1116
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 220px;
        height: 370px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 250px;
    }
    #bcd1116 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1116 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    #bcd1116 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1116 ul li
    {
        margin: 10px 0px 0px 2px;
        list-style-type: none;
    }
    
.res
{
    background-color: white;
    width: 95%;
    margin-top: -30px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    padding: 10px 0px 10px 0px;
}
.res .res11
{
    font-size: 20px;
    background-color: yellow;
    margin: 0px 10px 0px 10px;
}

.res .resp1
{
    background-color: yellowgreen;
    height: 250px;
    margin: 0px 10px 0px 10px;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 33% 33% 34%;
}
.res .resp1 .resp11
{
    grid-row: 1/4;
    grid-column: 1/2;
}
.res .resp1 .resp11 img
{
    margin: 13px 0px 0px 5px;
    width: 160px;
    height: 220px;
}
.res .resp1 .resp12
{
    grid-row: 1/2;
    grid-column: 2/4;
}
.res .resp1 .resp12 p
{
    font-size: 14px;
    margin: 10px 0px 0px 10px;
}
.res .resp1 .resp13
{
    grid-row: 2/3;
    grid-column: 2/3;
}
.res .resp1 .resp13 p
{
    margin: 25px 0px 0px 10px;
    font-size: 20px;
}
.res .resp1 .resp14
{
    grid-row: 3/4;
    grid-column: 2/3;
}
.res .resp1 .resp14 
{
    margin: 10px;
    background-color: black;
    width: 110px;
    height: 48px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 0px 0px 6px;
    color: white;
    cursor: pointer;
}
.res .resp1 .resp15
{
    grid-column: 3/4;
    grid-row: 2/4;
    overflow: auto;
    margin: 20px 0px 0px 0px;
}

.navto
{
    background-color: white;
    width: 300px;
    height: 60px;
    margin: 20px 0px 0px 80px;
    padding-top: 10px;
}

.navto .navto1
{
    background-color: black;
    height: 50px;
    width: 135px; 
    float: left; 
    margin: 0px 0px 10px 10px;
}
.navto .navto1 .navto11
{
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.navto .navto2
{
    background-color: black;
    height: 50px;
    width: 135px;  
    margin: 0px 0px 10px 155px;
} 
.navto .navto2 .navto21
{
    position: relative;
    top: 8px;
    left: 18px;
    font-size: 25px;
    text-decoration: none;
    color: white;
} 
}