<html>
    <head>
        <style>
            @media only screen and (min-width: 768px)
{
    #loa img
    {
       width: 350px;
       height: 350px;
       margin: 175px 0px 0px 550px;
    }
    body{
    width: auto;
    }
    .abc
    {
    background-image: url(https://drive.google.com/uc?id=1Wgb8Uk3ukbBw_YgE9D_KM6rz3Ys9HGfR);
    background-repeat: no-repeat;
    background-size: 100%;
    }
    .abc .abc1
    {
    background-color: #000000;
    height: 50px;
    width: 330px;
    border-radius: 10px;
    margin: 1.5% 0% 0% 40%;
    float: left;

    }
    .abc .abc1 a
    {
    text-decoration: none;
    font-size: 30px;
    color: white;

    }
    .abc .abc1 .abc11
    {
    float:left;
    margin: 8px 0px 0px 30px;
    }
    .abc .abc2
    {
    /* float: left; */
    width: 7%;
    margin-left: 15%;
    }
    .abc .abc3
    {
    text-decoration: none;
    position: relative;
    font-size: 30px;
    top: -40px;
    left: 2%;
    color: rgb(209, 22, 22);
    }
    a:hover
    {
    color: black;
    border-bottom: 3px solid white;
    }
    .bcd .bcd1
    {
    background-color: #000000;
    height: 50px;
    width: 580px;
    margin: 20px 0px 0px 20px;

    }
    .bcd .bcd1 .bcd11
    {
    float: left;
    font-size: 25px;
    margin: 8px 0px 0px 20px;
    cursor: pointer;
    }
    .bcd .bcd1 .bcd11 a
    {
    text-decoration: none;
    color: #ffffff;
    }
    .bcd .bcd1 .bcd11 a:hover
    {
    border-bottom: 3px solid white;
    color: #ffffff;
    }
    .bcd2
    {
    background-color: black;
    width: 550px;
    height: 50px;
    position: relative;
    top: -50px;
    left: 950px;
    }
    input[type="search"]
    {
    width: 93%;
    height: 28px;
    margin: 10px 0px 0px 20px;
    padding-left: 29px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
    }
    .se1
    {
    background-color: #dfd2d2;
    width: 28px;
    height:27px;
    position: relative;
    top: -87%;
    left: 3%;
    }
    .se1 #se11
    {
    color:#000000;
    font-weight: bolder;
    position: relative;
    top: 2px;
    left: 3px;
    }
    .pay
    {
        background-color: #dfdfdf;
        width: 75%;
        margin: -50px 0px 40px 50px;
        border-radius: 25px;
        height: 350px;
    }
    
    .pay .pay1 p
    {
        font-size: 60px;
        font-family: 'Otomanopee One', sans-serif;
        position: relative;
        top: 30px;
        left: 50px;
    }
    .pay .pay2 .pay21 p
    {
        position: relative;
        font-size: 40px;
        top: 10px;
        left: 50px;
    }
    .pay .pay2 .pay22
    {
        margin: 80px 0px 0px 50px;
    }
    .pay .pay2 .pay22 input
    {
        margin: 0px 0px 0px 30px;
        float: left;
    }
    .pay .pay2 .pay22 p
    {
        float: left;
        font-size: 20px;
        margin: -5px 20px 0px 20px;
    }
    .pay .pay2 .pay22 img
    {
        height: 38px;
        border-radius: 10px;
        display: inline-block;
        margin: -10px 0px 0px 0px;
    }
    .pay .pay2 .pay23
    {
        margin: 50px 50px 0px 50px;
    }
    .pay .pay2 #cash
    {
        margin: 20px 0px 0px 80px;
    }
    .pay .pay2 .incaon
    {
        margin: 0px 0px 0px 20px;
        font-size: 20px;
        position: relative;
        left: 90px;
        top: -39px;
    }
    .or
    {
        background-color: #dfdfdf;
        position: absolute;
        top: 300px;
        left: 1200px;
        width: 300px;
        border-radius: 10px;
    }
    .or p
    {   
        margin: 30px 0px 0px 20px;
        font-size: 35px;
    }
    .or button
    {
        margin: 30px 0px 0px 100px;
        font-size: 16px;
        background-color: black;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        height: 40px;
        width: 100px;
    }
    .foot .foot1
    {
    background-color: black;
    height: 50px;
    margin: 10px 0px 0px 10px;
    width: 98%;
    /* padding: 25px 0px 0px 100px; */
    }
    .foot .foot1 a
    {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 14px;
    left: 650px;
    }
    .foot .foot1 a:hover
    {
    /* border: 2px solid rgb(255, 255, 255); */
    border-bottom: 3px solid white;
    }
    .foot .foot2
    {
    background-color: black;
    color: white;
    width: 98%;
    margin: -10px 0px 0px 10px;
    height: 230px;

    }
    .foot .foot2 .foot21
    {
    float: left;
    margin: 20px 0px 0px 350px;
    }
    .foot .foot2 .foot21 .foot212
    {
    position: relative;
    top: -36px;
    left: 40px;
    }
    .foot .foot2 .foot22
    {
    float: left;
    margin: 20px 0px 0px 100px;
    }
    .foot .foot2 .foot22 .foot222
    {
    position: relative;
    top: -38px;
    left: 30px;
    }
    .foot .foot2 .foot23
    {
    padding: 18px 0px 0px 300px;
    width: 200px;
    height: 100px;
    }
    .foot .foot2 .foot24 .foot242
    {
    margin: 10px 0px 0px 600px;
    }
    .foot .foot2 .foot22 .foot232
    {
    position: relative;
    top: -35px;
    left: 43px;
    }
    .foot .foot2 .foot24
    {
    width: 200px;
    height: 200px;   
    }
    .foot .foot2 .foot24 .foot242
    {
    width: 200px;
    }
    .foot .foot2 .foot24 .foot241
    {
    width: 100px;
    position: relative;
    left: 640px;
    top: 10px;
    }
    .foot .foot3
    {
    background-color: black;
    color: white;
    margin: 10px 0px 0px 10px;
    width: 98%;
    height: 50px;

    }
    .foot .foot3 .foot31
    {
    float: left;
    margin: 10px 0px 0px 100px;
    }    
    .foot .foot3 .foot32
    {
    float: left;
    margin: 10px 0px 0px 100px;
    }
    .foot .foot3 .foot33
    {
    float: left;
    margin: 10px 0px 0px 100px;
    }
    .foot .foot3 .foot34
    {
    float: left;
    margin: -2px 0px 0px 100px;
    }
    .foot .foot3 .foot35
    {
    margin: 6px 0px 0px 80px;
    }
    .foot .foot3 .foot31 .foot312
    {
    position: relative;
    top: -37px;
    left: 30px;
    }
    .foot .foot3 .foot32 .foot322
    {
    position: relative;
    top: -37px;
    left: 30px;
    }
    .foot .foot3 .foot33 .foot332
    {
    position: relative;
    top: -37px;
    left: 30px;
    }
    #bcd1112
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 200px;
    height: 380px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 20px;
    }
    #bcd1112 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1112 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    }
    #bcd1112 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1112 ul li
    {
    margin: 10px 0px 0px 5px;
    list-style-type: none;
    }
    #bcd1113
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    /* height: 490px; */
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 90px;
    }
    #bcd1113 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1113 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    }
    #bcd1113 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1113 ul li
    {
    margin: 10px 0px 0px 2px;
    list-style-type: none;
    }
    #bcd1114
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 320px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 200px;
    }
    #bcd1114 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1114 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    }
    #bcd1114 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1114 ul li
    {
    margin: 10px 0px 0px 2px;
    list-style-type: none;
    }
    #bcd1115
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 340px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 300px;
    }
    #bcd1115 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1115 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    }
    #bcd1115 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1115 ul li
    {
    margin: 10px 0px 0px 2px;
    list-style-type: none;
    }

    #bcd1116
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 370px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 420px;
    }
    #bcd1116 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1116 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    }
    #bcd1116 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1116 ul li
    {
    margin: 10px 0px 0px 2px;
    list-style-type: none;
    }
}
@media only screen and (max-width: 768px)
{

    #loa img
    {
       width: 350px;
       height: 350px;
       margin: 175px 0px 0px 75px;
    }
body{
    width: auto;
}
.abc
{
    background-image: url(https://drive.google.com/uc?id=1Wgb8Uk3ukbBw_YgE9D_KM6rz3Ys9HGfR);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
}
.abc .abc1
{
    background-color: #000000;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    margin: 20px 0px 0px 40px;
    float: left;

}
.abc .abc1 a
{
    text-decoration: none;
    font-size: 20;
    color: white;

}
.abc .abc1 .abc11
{
    float:left;
    margin: 8px 0px 0px 30px;
}
.abc .abc2
{
    /* float: left; */
    width: 40px;
    margin-left: 50px;
    margin-top: 20px;
    
}
.abc .abc3
{
    text-decoration: none;
    position: relative;
    top: -13px;
    color: black;
}
a:hover
{
    color: black;
    border-bottom: 3px solid white;
}
.bcd .bcd1
{
    background-color: #000000;
    height: 50px;
    width: 450px;
    margin: 20px 0px 0px 10px;
    
}
.bcd .bcd1 .bcd11
{
    float: left;
    font-size: 18px;
    margin: 13px 0px 0px 20px;
    cursor: pointer;
}
.bcd .bcd1 .bcd11 a
{
    text-decoration: none;
    color: #ffffff;
}
.bcd .bcd1 .bcd11 a:hover
{
    border-bottom: 3px solid white;
    color: #ffffff;
}
.bcd2
{
    background-color: black;
    width: 450px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    /* position: relative;
    top: -50px;
    left: 950px;*/
}    
input[type="search"]
{
    width: 92%;
    height: 28px;
    margin: 10px 0px 0px 20px;
    padding-left: 29px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
}
.se1
{
    background-color: #dfd2d2;
    width: 28px;
    height:27px;
    position: relative;
    top: -43px;
    left: 20px;
}
.se1 #se11
{
    color:#000000;
    font-weight: bolder;
    position: relative;
    top: 2px;
    left: 3px;
}
.pay
{
    background-color: #dfdfdf;
    width: 95%;
    margin: -20px 0px 250px 14px;
    border-radius: 25px;
}

.pay .pay1 p
{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 30px;
    position: relative;
    left: 17px;
    top: 15px;
}
.pay .pay2 .pay21 p
{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 100px;
}
.pay .pay2 .pay22
{
    margin: 5;
}
.pay .pay2 .pay22 input
{
    float: left;
}
.pay .pay2 .pay22 p
{
    font-size: 18px;
    margin-top: -2px;
}
.pay .pay2 .pay22 img
{
    margin: -44px 0px 0px 200px;
    height: 30px;
    border-radius: 10px;
}
.pay .pay2 #cash
{
    margin: 0px 0px 0px 8px;
}
.pay .pay2 .incaon
{
    font-size: 18px;
    margin: -34px 0px 0px 23px;
}
.or
{
    background-color: #dfdfdf;
    position: absolute;
    top: 490px;
    left: 110px;
    width: 230px;
    border-radius: 10px;
}
.or p
{   
    margin: 30px 0px 0px 20px;
    font-size: 25px;
}
.or button
{
    margin: 30px 0px 0px 60px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 100px;
}
.foot .foot2
{
    background-color: black;
    color: white;
    width: 98%;
    margin: -10px 0px 0px 10px;
    height: 230px;

}
.foot .foot2 .foot21
{
    float: left;
    margin: 20px 0px 0px 10px;
}
.foot .foot2 .foot21 .foot212
{
    font-size: 13px;
    position: relative;
    top: -33px;
    left: 35px;
}
.foot .foot2 .foot22
{
    float: left;
    margin: 20px 0px 0px 45px;
}
.foot .foot2 .foot22 .foot222
{
    font-size: 13px;
    position: relative;
    top: -33px;
    left: 30px;
}
.foot .foot2 .foot23
{
    padding: 18px 0px 0px 100px;
    width: 200px;
    height: 100px;
}
.foot .foot2 .foot24 .foot242
{
    margin: 10px 0px 0px 150px;
}
.foot .foot2 .foot22 .foot232
{
    font-size: 13px;
    position: relative;
    top: -33px;
    left: 38px;
}
.foot .foot2 .foot24
{
    width: 200px;
    height: 200px;   
}
.foot .foot2 .foot24 .foot242
{
    width: 200px;
}
.foot .foot2 .foot24 .foot241
{
    width: 100px;
    position: relative;
    left: 200px;
    top: 10px;
}
.foot .foot3
{
    background-color: black;
    color: white;
    margin: 10px 0px 0px 0px;
    width: 99%;
    height: 130px;

}
.foot .foot3 .foot31
{
    float: left;
    margin: 10px 0px 0px 15px;
}    
.foot .foot3 .foot32
{
    float: left;
    margin: 10px 0px 0px 60px;
}
.foot .foot3 .foot33
{
    float: left;
    margin: 10px 0px 0px 80px;
}
.foot .foot3 .foot34
{
    font-size: 13px;
    /* float: left; */
    /* margin: -2px 0px 0px 100px; */
    position: relative;
    top: 40px;
    left: -180px;
}
.foot .foot3 .foot35
{
    width: 98%;
    margin: 2px 0px 0px 0px;
    position: relative;
    top: 5px;
    left: 5px;
}
.foot .foot3 .foot31 .foot312
{
    font-size: 13px;
    position: relative;
    top: -32px;
    left: 30px;
}
.foot .foot3 .foot32 .foot322
{
    font-size: 13px;
    position: relative;
    top: -32px;
    left: 30px;
}
.foot .foot3 .foot33 .foot332
{
    font-size: 13px;
    position: relative;
    top: -32px;
    left: 30px;
} 
#bcd1112
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 200px;
    height: 380px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 150px;
    left: 20px;
}
#bcd1112 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1112 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1112 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1112 ul li
{
    margin: 10px 0px 0px 5px;
    list-style-type: none;
}
#bcd1113
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    /* height: 490px; */
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 150px;
    left: 90px;
}
#bcd1113 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1113 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1113 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1113 ul li
{
    margin: 10px 0px 0px 2px;
    list-style-type: none;
}
#bcd1114
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 320px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 150px;
    left: 200px;
}
#bcd1114 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1114 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1114 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1114 ul li
{
    margin: 10px 0px 0px 2px;
    list-style-type: none;
}
#bcd1115
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 340px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 150px;
    left: 230px;
}
#bcd1115 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1115 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1115 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1115 ul li
{
    margin: 10px 0px 0px 2px;
    list-style-type: none;
}

#bcd1116
{
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 370px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 150px;
    left: 250px;
}
#bcd1116 p
{
    font-size: 25px;
    margin: 20px 0px 0px 50px;
}
#bcd1116 ul li a
{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#bcd1116 ul li a:hover
{
    border-bottom: 3px solid black;
}
#bcd1116 ul li
{
    margin: 10px 0px 0px 2px;
    list-style-type: none;
}

}

        </style>
        <link href="pay.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="loa">
            <img src="loading.gif">
        </div>
        <div id="loa1">  
            <div class="abc" id="top">
                <div class="abc1">
                    <div class="abc11">
                        <a href="/">Home</a>
                    </div>
                    <div class="abc11">
                        <a href="">Offer's</a>
                    </div>
                    <div class="abc11">
                        <a href="cart">Cart</a>
                    </div>
                </div>
                <img src="https://drive.google.com/uc?id=1YUMJE2xaJz0FExJBmYfpDAfvVkTF4HhT" class="abc2" id="a1">
                <% if (user=="null") { %>
                    <a href="/login" class="abc3" >Login</a>                 
                <% } else {%>
                    <a class="abc3" ><%=user%></a>
                <%}%>
            </div>
            <div class="bcd">
                <div class="bcd1">
                    <div class="bcd11" >
                        <a id="bcd111">Mobiles</a>
                    </div>
                    <div class="bcd11">
                        <a id="bcd112">Fashion</a>
                    </div>
                    <div class="bcd11">
                        <a id="bcd113">Appliances</a>
                    </div>
                    <div class="bcd11">
                        <a id="bcd114">Sports
                        </a>
                    </div>
                    <div class="bcd11">
                        <a id="bcd115">Computers</a>
                    </div>
                </div>
                <div class="bcd2" id="bcd2id">
                    <form action="/search" method="GET">
                        <input type="search" id="search1" placeholder="Search" name="search">
                        <input type="submit" style="display: none;">
                    </form>
                    <div class="se1">
                        <i class="material-icons" id="se11">search</i>
                    </div>
                </div>
            </div>
            <div class="pay" id="payid">
                <div class="pay1">
                    <p>Select a payment method</p>
                </div>
                <div class="pay2">
                    <div class="pay21">
                        <p>Payment methods</p>
                    </div>
                    <div class="pay22">
                        <input type="checkbox" form="order" name="card" id="card" required="required">
                        <p>Debit/Credit/ATM Card</p>
                        <img src="https://drive.google.com/uc?id=1j8BlJpdJyJUXDESpJ-aPUVVNyNccoDAJ">
                        <br>
                    </div>
                    <input type="checkbox" form="order" name="cash" id="cash" >
                    <div class="incaon">
                    <p>Cash on delivery</p>
                    </div>
                    <br>
                </div>
            </div>
            <div class="or">
                <p>Total items:<%=titems%></p>
                <p>Toal price:<%=tprice%></p>
                <form id="order" action="/order">
                    <button type="submit">Place order</button>
                </form>
            </div>
            <div class="foot">
                <div class="foot2">
                    <div class="foot21">
                        <i class="material-icons" class="foot211">local_shipping</i>
                        <p class="foot212">Free Delivery</p>
                    </div>
                    <div class="foot22">
                        <i class="material-icons" class="foot221">payment</i>
                        <p class="foot222">100% secure payments</p>
                    </div>
                    <div class="foot22">
                        <i class="material-icons" class="foot231">report_problem</i>
                        <p class="foot232">Report problem</p>
                    </div>
                    <div class="foot24">
                        <h4 class="foot241">About</h4>
                        <ul class="foot242">
                            <li>About us</li>
                            <li>New Showroom</li>
                            <li>Retail Store</li>
                            <li>Bulk Order</li>
                        </ul>
                    </div>
                </div>
                <div class="foot3">
                    <div class="foot31">
                        <i class="material-icons" class="foot311">storefront</i>
                        <p class="foot312">Sell on our Platform</p>
                    </div>
                    <div class="foot32">
                        <i class="material-icons" class="foot321">local_offer</i>
                        <p class="foot322">Gift cards</p>
                    </div>
                    <div class="foot33">
                        <i class="material-icons" class="foot331">help_outline</i>
                        <p class="foot332">Help Center</p>
                    </div>
                    <div class="foot34" >
                        <p>&copy;All rights reserved 2021</p>
                    </div>
                    <img class="foot35" src="https://drive.google.com/uc?id=13LBU9QcZuRDcPudZhEOwnQXO0RrPt-6Y">
                </div>
            </div>
            <div id="mob">
                <div id="mobid">

                </div>
            </div>  
        </div>
        <script>
             document.getElementById("loa1").style.display="none";
            var q=0,q1=0,q2=0,q3=0,q4=0;
            window.addEventListener("load",function()
            {
                document.getElementById("loa1").style.display="";
                document.getElementById("loa").style.display="none";
            });
            console.log(document.getElementsByTagName("div"));
            var ab=document.getElementsByTagName("div");
            document.getElementById("bcd111").addEventListener("click",function()
            {
                if(q==0)
                {
                    q++;
                    ab[34].setAttribute("id","mobid");
                    document.getElementById("mobid").setAttribute("id","bcd1112");
                    document.getElementById("bcd1112").innerHTML="<p>Brands<p><ul><li><a href=\"samsung\">Samsung</a></li><li><a href=\"apple\">Apple</a></li><li><a href=\"huawei\">Huawei</a></li><li><a href=\"xiaomi\">Xiaomi</a></li><li><a href=\"oppo\">Oppo</a></li><li><a href=\"lg\">LG</a></li><li><a href=\"realme\">Realme</a></li><li><a href=\"one plus\">One Plus</a></li><li><a href=\"vivo\">Vivo</a></li></ul>";
                }
                else{
                    ab[34].setAttribute("id","mobid");
                ab[34].innerHTML="";
                q=0;
                }
                });
                document.getElementById("bcd112").addEventListener("click",function()
                {
                    if(q1==0)
                    {
                        q1++;     
                        ab[34].setAttribute("id","mobid");
                        document.getElementById("mobid").setAttribute("id","bcd1113");
                        document.getElementById("bcd1113").innerHTML="<p>Brands<p><ul><li><a href=\"puma\">Puma</a></li><li><a href=\"lee\">LEE</a></li><li><a href=\"allen\">Allen Solly</a></li><li><a href=\"peter\">Peter England</a></li><li><a href=\"van\">Van Heusen</a></li><li><a href=\"raymond\">Raymond</a></li><li><a href=\"park\">Park Avenue</a><ul>";
                    }
                    else{
                        ab[34].setAttribute("id","mobid");
                    ab[34].innerHTML="";
                    q1=0;
                    }  
                });
            document.getElementById("bcd113").addEventListener("click",function()
                {
                    if(q2==0)
                    {
                        q2++;
                        ab[34].setAttribute("id","mobid");
                        document.getElementById("mobid").setAttribute("id","bcd1114");
                        document.getElementById("bcd1114").innerHTML="<p>Products<p><ul><li><a href=\"stabil\">Stabilizers</a></li><li><a href=\"air\">Air Coolers</a></li><li><a href=\"heat\">Heaters</a></li><li><a href=\"wash\">Washing Machine</a></li><li><a href=\"refrig\">Refrigerators</a></li><li><a href=\"tv\">TV</a></li><li><a href=\"airc\">Air Conditioners</a></li></ul>";
                        }
                    else
                    {
                        ab[34].setAttribute("id","mobid");
                        ab[34].innerHTML="";
                        q2=0;
                    }
            
                    });
            document.getElementById("bcd114").addEventListener("click",function()
                {
                    if(q3==0)
                    {
                        q3++;
                        ab[34].setAttribute("id","mobid");
                        document.getElementById("mobid").setAttribute("id","bcd1115");
                        document.getElementById("bcd1115").innerHTML="<p>Products<p><ul><li><a href=\"cricket\">Cricket</a></li><li><a href=\"foot\">Foot Ball</a></li><li><a href=\"batminton\">Batminton</a></li><li><a href=\"table\">Table Tennis</a></li><li><a href=\"tennis\">Tennis</a></li><li><a href=\"basket\">Basket Ball</a></li><li><a href=\"swimming\">Swimming</a></li><li><a href=\"volley\">Volley Ball</a></ul>";
                    }
                    else
                    {
                        ab[34].setAttribute("id","mobid");
                        ab[34].innerHTML="";
                        q3=0;
                    }
            
                    });
            document.getElementById("bcd115").addEventListener("click",function()
                {
                    if(q4==0)
                    {
                        q4++;
                        ab[34].setAttribute("id","mobid");
                        document.getElementById("mobid").setAttribute("id","bcd1116");
                        document.getElementById("bcd1116").innerHTML="<p>Products<p><ul><li><a href=\"mac\">Mac Book</a></li><li><a href=\"hp\">HP</a></li><li><a href=\"dell\">Dell</a></li><li><a href=\"lenovo\">Lenovo</a></li><li><a href=\"acer\">Acer</a></li><li><a href=\"samsungl\">Samsung</a></li><li><a href=\"asus\">Asus</a></li><li><a href=\"hcl\">HCL</a><li><a href=\"sony\">Sony</a></li></ul>";
                    }
                    else
                    {
                        ab[34].setAttribute("id","mobid");
                        ab[34].innerHTML="";
                        q4=0;
                    }
            
                    });
            document.getElementById("payid").addEventListener("click",function()
                {
                    ab[34].setAttribute("id","mobid");
                    ab[34].innerHTML="";
                });
                document.getElementById("top").addEventListener("click",function()
                {
                    ab[34].setAttribute("id","mobid");
                    ab[34].innerHTML="";
                });
                document.getElementById("bcd2id").addEventListener("click",function()
                {
                    ab[34].setAttribute("id","mobid");
                    ab[34].innerHTML="";
                });
                var t3=0;
                var x = document.getElementById("cash").checked;
                console.log(x);
                var t4=0;
                if(t3==0)
                    {
                        document.getElementById("card").setAttribute("required","required");
                        document.getElementById("cash").setAttribute("required","required");

                    }
                document.getElementById("cash").addEventListener("click",function(){
                    console.log("checked cash");
                    if(t3==0)
                    {
                        t3=2;
                        document.getElementById("cash").removeAttribute("required");
                        document.getElementById("card").removeAttribute("required");
                    } else{
                        t3=0;
                        document.getElementById("card").setAttribute("required","required");
                        document.getElementById("cash").setAttribute("required","required");
                    }
                    document.getElementById("cash").removeAttribute("required");
                    document.getElementById("card").checked=false;
                });
                document.getElementById("card").addEventListener("click",function(){
                    console.log("checkedcard");
                    if(t4==0)
                    {
                        t4=2;
                        document.getElementById("cash").removeAttribute("required");
                        document.getElementById("card").removeAttribute("required");
                    } else{
                        t4=0;
                        document.getElementById("card").setAttribute("required","required");
                        document.getElementById("cash").setAttribute("required","required");
                    }
                    document.getElementById("cash").checked=false;
                });
        </script>
    </body>
</html>